<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Understanding Fetch, Promises, and Async Functions</title>
        <link
            href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
            rel="stylesheet"
        />
    </head>
    <body class="bg-gray-300 p-14">
        <h1 class="text-2xl font-bold mb-4">Fetch Example ASYNC</h1>
        <div class="text-1xl object-center">
            <span id="myspan"></span>
        </div>
        <script>
            document.addEventListener("DOMContentLoaded", () => {
                <!-- DO SOMETHING HERE -->
                async function fetchData() {
                    try {
                        const response = await fetch("/randomtext");
                        const data = await response.json();
                        console.log(data);
                        document.getElementById("myspan").textContent =
                            data.text;
                    } catch (error) {
                        console.error("Error:", error);
                    }
                }

                fetchData();
            });
        </script>
    </body>
</html>
